.constructor-element {
  &_container {
  }

  &_inner {
    border: 1px solid var(--border-color);
    padding: 20px 30px;
    border-radius: 6px;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
    margin: 1px;
    width: 100%;
    cursor: grab;

    &:not(.disabled) {
      cursor: pointer;
      &:focus {
        outline: 2px solid var(--emph-color);
      }

      &:active {
        color: #fff;
        background-color: var(--emph-color);
      }
    }

    input {
      cursor: inherit;
    }
  }
}
